<h2>Productos</h2>

<div *ngFor="let producto of productos; index as productoId">
    <h3>
        <a [title]=" producto.nombree + ' details' " [routerLink]=" [ '/productos' , productoId] ">
          {{ producto.nombre }}
        </a>
    </h3>

    <p *ngIf=" producto.descripcion ">
        Descripcion: {{producto.descripcion}}
    </p>

    <button (click)=" share() ">
        Compartir
    </button>

    <app-product-alerts [producto]=" producto " (notify)=" onNotify() ">
    </app-product-alerts>

</div>